= simple_form_for(@user, url: url, method: method, :html => {:class => 'form-horizontal'}, wrapper: :horizontal_form) do |f|
  = f.input :ldap_uid, :input_html => {disabled: 'disabled'}
  = f.input :first_name, :input_html => {disabled: 'disabled'}
  = f.input :last_name, :input_html => {disabled: 'disabled'}
  = f.input :email, :input_html => {disabled: 'disabled'}
  = f.input :alternate_email
  = f.input :last_login_at, as: :string, :input_html => {disabled: 'disabled', value: @user.last_login_at&.strftime("%m/%d/%Y %H:%M:%S")}
  = f.input :superuser_flag, :as => :boolean, label: "Superuser?", wrapper: :horizontal_boolean
  = f.input :inactive_flag, :as => :boolean, :label => "Inactive User?", wrapper: :horizontal_boolean

  .form-actions
    %button{type: "submit", class: "btn btn-primary"} Submit
    = link_to "Cancel", admin_users_path

